{% extends 'base.html.twig' %}

{% block body %}
<h2>Parties</h2>

{% if games and games|length > 0 %}
    <ul>
        {% for game in games %}
            <li>{{ game.label }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}