{% extends 'base.html.twig' %}

{% block body %}
{% if games and games|length > 0 %}
        {% for game in games %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ game.label }}</h5>
                    <span class="badge bg-secondary">{{ game.year|date("Y") }}</span>
                    <span class="badge {% if game.isOpenBets %}bg-success{% else %}bg-danger{% endif %}">{% if game.isOpenBets %}Paris ouverts{% else %}Paris fermés{% endif %}</span>
                </div>
            </div>
        {% endfor %}
{% endif %}
{% endblock %}