$body-bg: #343a40;
$body-color: #e9ecef;

$border-radius: .25rem * 2;

$card-bg: #495057;
$card-border-color: #495057;
$card-box-shadow: 0 .5rem 1rem rgba(#000000, .15);

@import 'bootstrap/bootstrap.scss'