<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kikékané{% endblock %}</title>
    </head>
    <body>
        <h1>Kikékané</h1>
        {% block body %}{% endblock %}
    </body>
</html>
